body {
    background-color: rgb(255,255,255);
    background-image: url(assets/bg01.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#welcomePage{
    margin-left: 150px;
    position: absolute;
    bottom: 200px;
}

#welcome{
    font-size: 80px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    margin-bottom: 80px;
}

.h1-b{
    font-weight: 800;
    color: white;
    text-decoration: none;
}


#seatNum{
    color:white;   
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 20px 20px 100px #0000EE;
    margin: 0px;
    margin-top:50px;
    margin-bottom: 50px;
}

#entertainmentText{
    color:white; 
    font-size: 50px;  
    margin: 0px;
    margin-bottom:50px;
}

#touch{
    width:189px;
    height: 69px;
    background: #0000EE;
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 0px;
}


#typedText {
    color: black;
    text-decoration: none;
}

#inflightEntertainment{
    display: none;
}

#timeLineMap{
    display:none;
}

span{
    text-decoration: underline;   
    color: #0000EE;
    text-decoration-color: #0000EE;
}

.noLink{
    text-decoration: none;   
    color: black;
}

.hiddenText{
    display: none;
}

.clickedLink{
    color: #551A8B;
    text-decoration-color: #551A8B; 
}

#p07show {
    overflow: hidden;
}

#cursor {
    font-weight: bolder;
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.intercomButton:hover{
    background-color: #0000EE;
    color: white;
}