body {
    background-color: rgb(255,255,255);
    background-image: url(assets/bg01.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.buttonStyle{
    display: inline-block;
    background: #0000EE;
    color: white;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
    width: 15vw;
    height: 15vw;
    position: relative;
    overflow: hidden;
    margin-right: 5vw;
}

.buttonStyle:hover{
    cursor: grab;
}


.buttonStyle > img{
    width: 50%;
    left: 25%;
    top: 10%;
    display: block;
    position: absolute;
}

.buttonStyle > p {
    bottom: 5%;
    margin:0;
    width:100%;
    display: block;
    position: absolute;
    font-size: 30px;
    text-align: center;
}

.buttonBookPage{
    display: block;
}

#welcomePage{
    margin-left: 15vw;
    margin-bottom: 10vh;
}

#welcome{
    font-size: 80px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    margin-bottom: 80px;
}

.h1-b{
    font-weight: 800;
    color: white;
    text-decoration: none;
}


.seatNum{
    color:white;   
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 20px 20px 100px #0000EE;
    margin: 0px;
    margin-top:50px;
    margin-bottom: 50px;
}



#entertainmentText{
    color:white; 
    font-size: 50px;  
    margin: 0px;
    margin-bottom:50px;
}

#touch{
    /* width:189px;
    height: 69px;
    background: #0000EE;
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 0px; */
}


#typedText {
    color: black;
    text-decoration: none;
}


#timeLineMap{
    display:none;
}

span{
    text-decoration: underline;   
    color: #0000EE;
    text-decoration-color: #0000EE;
}

.noLink{
    text-decoration: none;   
    color: black;
}

.hiddenText{
    display: none;
}

.clickedLink{
    color: #551A8B;
    text-decoration-color: #551A8B; 
}

#p07show {
    overflow: hidden;
}

#cursor {
    font-weight: bolder;
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.intercomButton:hover{
    background-color: #0000EE;
    color: white;
}



#inflightEntertainment{
    display: none;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#bookContainer{
    height: 90vh;
    width: 70vw;    
    background-color: white;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.buttonBookPage{
    margin: auto;
    margin-bottom: 50px;
}

#buttonContainerBook{
    align-self: flex-end;

}


.seatNumBook{
    font-size: 100px;
    align-self: flex-start;
}

#time{
    background-color: #E6E6E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: right;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


#textContainer{
    padding: 80px;
    padding-bottom: 0;
    margin-bottom: 80px;
    text-align: justify;
    font-size: 20px;
    font-family: helvitica;
     /* height: 100%; */     
    position: relative;
    overflow-y: scroll;

}

